<VStack id="hello-ios">
  <Spacer />
  <HStack modifiers={@native |> padding(all: 5)}>
    <Text>Hello iOS!</Text>
  </HStack>
  <Spacer />
  <HStack modifiers={@native |> padding(all: 5)}>
    <NavigationLink destination={"/counter"}>
      <Text>Counter Demo</Text>
    </NavigationLink>
  </HStack>
  <HStack modifiers={@native |> padding(all: 5)}>
    <NavigationLink destination={"/swiftui-test-bed"}>
      <Text>SwiftUI Test Bed</Text>
    </NavigationLink>
  </HStack>
</VStack>
