<div id="hello-web">
  <div class="text-slate-800 bg-slate-50 h-screen w-screen grid grid-cols-1 gap-1 content-center items-center text-center">
    <div class="font-semibold mb-1">Hello web!</div>
    <ul>
      <li>
        <a href="/counter">Counter Demo</a>
      </li>
    </ul>
  </div>
</div>
