<vstack id="hello-ios">
  <hstack>
    <text>Hello iOS!</text>
  </hstack>
  <hstack>
    <text>This button has been pressed <%= assigns[:count] %> times.</text>
  </hstack>
  <hstack>
    <button phx-click="increment-count">
      <text>Press me</text>
    </button>
  </hstack>
</vstack>